445 of them from Census data. how?

In [32]:
from __future__ import division
import pandas as pd
from IPython.display import display
from censusgeocode import CensusGeocode

## Preprocessing

In [33]:
cg = CensusGeocode()

In [72]:
def get_block_group_id(lat, long_, cg):
    d = cg.coordinates(x=long_, y=lat)[0]['2010 Census Blocks']
    return d[0]['TRACT'] + d[0]['BLKGRP']

In [2]:
df = pd.read_hdf('../data/data_w_descs_and_census.h5')
df.shape

(905650, 155)

In [3]:
new_df = df[df.value_total.isnull()]

In [4]:
old_df = df
df = new_df

In [19]:
df_census = pd.read_pickle('../data/census_data_aggregated.pkl')['tract_and_block_group']
df_census.head(1).T

0    0001001
Name: tract_and_block_group, dtype: object

In [5]:
df.shape

(445, 155)

In [29]:
df.head(1).T

                                                                               74
CASE_ENQUIRY_ID                                                      101000382293
OPEN_DT                                                       2012-02-08 12:55:07
TARGET_DT                                                                     NaT
CLOSED_DT                                                     2012-02-08 12:55:54
OnTime_Status                                                              ONTIME
CASE_STATUS                                                                Closed
CLOSURE_REASON                        Case Closed Case Resolved potholes patched.
CASE_TITLE                                                    Highway Maintenance
SUBJECT                                                   Public Works Department
REASON                                                        Highway Maintenance
TYPE                                                          Highway Maintenance
QUEUE                                             PWDx_District 02: Jamaica Plain
Department                                                                   PWDx
SubmittedPhoto                                                                NaN
ClosedPhoto                                                                   NaN
Location                        INTERSECTION of Canterbury St & Morton St  Jam...
fire_district                                                                  12
pwd_district                                                                   02
city_council_district                                                           7
police_district                                                                B3
neighborhood                                                     Greater Mattapan
neighborhood_services_district                                                 13
ward                                                                      Ward 12
precinct                                                                     1207
land_usage                                                                    NaN
LOCATION_STREET_NAME                       INTERSECTION Canterbury St & Morton St
LOCATION_ZIPCODE                                                              NaN
Property_Type                                                        Intersection
Property_ID                                                                  2420
LATITUDE                                                                  42.2932
...                                                                           ...
housing_own                                                                   NaN
housing_rent                                                                  NaN
value_total                                                                   NaN
value_0_10000                                                                 NaN
value_10000_14999                                                             NaN
value_15000_19999                                                             NaN
value_20000_24999                                                             NaN
value_25000_29999                                                             NaN
value_30000_34999                                                             NaN
value_35000_39999                                                             NaN
value_40000_49999                                                             NaN
value_50000_59999                                                             NaN
value_60000_69999                                                             NaN
value_70000_79999                                                             NaN
value_80000_89999                                                             NaN
value_90000_99999                                                             NaN
value_100000_124999                                                           NaN
value_125000_149999                                                           NaN
value_150000_174999                                                           NaN
value_175000_199999                                                           NaN
value_200000_249999                                                           NaN
value_250000_299999                                                           NaN
value_300000_399999                                                           NaN
value_400000_499999                                                           NaN
value_500000_749999                                                           NaN
value_750000_999999                                                           NaN
value_1000000_1499999                                                         NaN
value_1500000_1999999                                                         NaN
value_2000000+                                                                NaN
COMPLETION_TIME                                                         0.0130556

[155 rows x 1 columns]

## Looking at rows with incorrect Census block group IDs

In [12]:
df[['Property_Type', 'CASE_ENQUIRY_ID']].groupby('Property_Type').count()

               CASE_ENQUIRY_ID
Property_Type
Address                    143
Intersection               302

In [16]:
df[['TYPE', 'CASE_ENQUIRY_ID']].groupby('TYPE').count().sort_values('CASE_ENQUIRY_ID', ascending=False)

                                                CASE_ENQUIRY_ID
TYPE
Request for Pothole Repair                                   60
Traffic Signal Repair                                        42
Street Light Outages                                         39
Pothole Repair (Internal)                                    32
Requests for Street Cleaning                                 30
Request for Snow Plowing                                     28
Sign Repair                                                  14
Schedule a Bulk Item Pickup                                  14
Graffiti Removal                                             12
Tree Maintenance Requests                                    10
New Sign  Crosswalk or Pavement Marking                      10
Pick up Dead Animal                                          10
Animal Generic Request                                        9
Parking Enforcement                                           7
Requests for Traffic Signal Studies or Reviews                7
Unsatisfactory Living Conditions                              6
News Boxes                                                    6
Traffic Signal Inspection                                     5
Heat - Excessive  Insufficient                                5
Sidewalk Repair (Internal)                                    5
Tree Emergencies                                              5
Notification                                                  4
Sidewalk Repair (Make Safe)                                   4
Rodent Activity                                               4
Request for Snow Plowing (Emergency Responder)                4
Missed Trash/Recycling/Yard Waste/Bulk Item                   4
Schedule a Bulk Item Pickup SS                                4
Unshoveled Sidewalk                                           4
Empty Litter Basket                                           4
Parks General Request                                         3
...                                                         ...
Sidewalk Repair                                               2
Install New Lighting                                          2
Abandoned Vehicles                                            1
Sidewalk Cover / Manhole                                      1
Street Light Knock Downs                                      1
Student Move-in Issues                                        1
Utility Call-In                                               1
Work Hours-Loud Noise Complaints                              1
Sticker Request                                               1
Pavement Marking Maintenance                                  1
Roadway Repair                                                1
Request for Litter Basket Installation                        1
Animal Lost                                                   1
Big Buildings Recycling (INTERNAL)                            1
CE Collection                                                 1
Catchbasin                                                    1
Contractors Complaint                                         1
Equipment Repair                                              1
General Comments For An Employee                              1
General Lighting Request                                      1
General Traffic Engineering Request                           1
Ground Maintenance                                            1
Illegal Posting of Signs                                      1
Missing Sign                                                  1
Needle Pickup                                                 1
No Utilities Residential - Electricity                        1
No-Tow Complaint Confirmation                                 1
Plumbing                                                      1
Poor Conditions of Property                                   1
Work w/out Permit                                             1

[69 rows x 1 columns]

In [110]:
df[['tract_and_block_group', 'CASE_ENQUIRY_ID']].groupby('tract_and_block_group').count().sort_values('CASE_ENQUIRY_ID', ascending=False)

                       CASE_ENQUIRY_ID
tract_and_block_group
9811003                            130
4001001                            129
4002003                             40
4006001                             34
4161022                             24
4003003                             15
3731001                             11
3424004                             11
3515001                              9
4012003                              9
3731002                              7
4021024                              5
4012002                              4
4021011                              4
3501031                              3
4021022                              3
4001002                              2
3514031                              2
3514041                              1
4011001                              1
4021023                              1

In [30]:
with pd.option_context("display.max_rows", 200):
    display(df.tail()[['TYPE', 'LOCATION_STREET_NAME', 'Property_Type', 'tract_and_block_group', 'LATITUDE', 'LONGITUDE']])

,TYPE,LOCATION_STREET_NAME,Property_Type,tract_and_block_group,LATITUDE,LONGITUDE
892138,Traffic Signal Repair,INTERSECTION Commonwealth Ave & Essex St,Intersection,4001001,42.3504,-71.1109
892665,Request for Pothole Repair,INTERSECTION Commonwealth Ave & Winslow Rd,Intersection,4002003,42.3518,-71.1224
893215,Request for Pothole Repair,INTERSECTION Commonwealth Ave & University Rd,Intersection,4001001,42.3502,-71.1094
899810,Unshoveled Sidewalk,64 Corey Rd,Address,4006001,42.3402,-71.1428
902884,Schedule a Bulk Item Pickup,7 Sherman St,Address,3501031,42.3872,-71.0765

In [73]:
get_block_group_id(42.3402, -71.1428, cg)

u'0005042'

Looking at 64 Corey Rd, the Census geocoding API returns a different Census block group ID than the SHP file.

In [40]:
'0005042' in df_census.tolist()

True

And this ID is in our dataset.

Let's overwrite the rows with messed-up Census block groups from another source than the SHP files, and see if all of these Census block groups are in our dataset.

## Are newly created Census block group IDs in our dataset?

In [44]:
df.shape

(445, 155)

In [46]:
df_lat_longs = df[['LONGITUDE', 'LATITUDE']].drop_duplicates()
df_lat_longs.shape

(48, 2)

Many of the lat long points with incorrected Census block group IDs are the exact same points. Weird. Let's investigate further.

Makes sense, as many of these issues deal with traffic lights, which are in the exact same location.

In [47]:
with pd.option_context("display.max_rows", 200):
    display(df.tail(20)[['TYPE', 'LOCATION_STREET_NAME', 'Property_Type', 'tract_and_block_group', 'LATITUDE', 'LONGITUDE']].sort_values('tract_and_block_group'))

,TYPE,LOCATION_STREET_NAME,Property_Type,tract_and_block_group,LATITUDE,LONGITUDE
902884,Schedule a Bulk Item Pickup,7 Sherman St,Address,3501031,42.3872,-71.0765
893215,Request for Pothole Repair,INTERSECTION Commonwealth Ave & University Rd,Intersection,4001001,42.3502,-71.1094
892138,Traffic Signal Repair,INTERSECTION Commonwealth Ave & Essex St,Intersection,4001001,42.3504,-71.1109
890710,General Lighting Request,INTERSECTION Commonwealth Ave & Essex St,Intersection,4001001,42.3504,-71.1109
888377,Traffic Signal Repair,INTERSECTION Commonwealth Ave & Saint Marys St,Intersection,4001001,42.3499,-71.1066
886922,Street Light Outages,INTERSECTION Commonwealth Ave & University Rd,Intersection,4001001,42.3502,-71.1094
871095,Request for Snow Plowing,INTERSECTION Commonwealth Ave & Essex St,Intersection,4001001,42.3504,-71.1109
875513,Traffic Signal Inspection,INTERSECTION Commonwealth Ave & Essex St,Intersection,4001001,42.3504,-71.1109
875168,Request for Pothole Repair,INTERSECTION Commonwealth Ave & Saint Marys St,Intersection,4001001,42.3499,-71.1066
883555,Tree Maintenance Requests,1066 Commonwealth Ave,Address,4002003,42.3516,-71.1233
891027,Unshoveled Sidewalk,1066 Commonwealth Ave,Address,4002003,42.3516,-71.1233
892665,Request for Pothole Repair,INTERSECTION Commonwealth Ave & Winslow Rd,Intersection,4002003,42.3518,-71.1224
899810,Unshoveled Sidewalk,64 Corey Rd,Address,4006001,42.3402,-71.1428
877632,Pick up Dead Animal,49 Hackensack Rd,Address,4012002,42.3010,-71.1419
875063,Pothole Repair (Internal),INTERSECTION Metropolitan Ave & Summit St,Intersection,4161022,42.2522,-71.1093
882243,Request for Pothole Repair,INTERSECTION Metropolitan Ave & Summit St,Intersection,4161022,42.2522,-71.1093
882398,Pothole Repair (Internal),INTERSECTION Forest Hills Ave & Yale Ter,Intersection,9811003,42.2984,-71.1074
886198,Request for Snow Plowing,38-40 Walk Hill St,Address,9811003,42.2944,-71.1146
872808,Request for Snow Plowing,INTERSECTION Cemetery Rd & Morton St,Intersection,9811003,42.3002,-71.1047
884408,Requests for Street Cleaning,INTERSECTION Canterbury St & Morton St,Intersection,9811003,42.2932,-71.0965

In [79]:
df_lat_longs.head(2).apply(lambda row: row['LATITUDE'], axis=1)

74      42.2932
4613    42.3518
dtype: float64

In [84]:
new_block_grp_ids = df_lat_longs.apply(lambda row: get_block_group_id(row['LATITUDE'], row['LONGITUDE'], cg), axis=1)

In [90]:
aa = pd.DataFrame(new_block_grp_ids)
aa.columns = ['new_block_grp_ids']
aa.head(2)

     new_block_grp_ids
74             9811003
4613           4002003

In [92]:
aa['is_in_dataset'] = aa.isin(df_census.tolist())
aa.head(2)

     new_block_grp_ids is_in_dataset
74             9811003         False
4613           4002003         False

In [94]:
aa['old_block_grp_ids'] = df['tract_and_block_group']
aa.head()

     new_block_grp_ids is_in_dataset old_block_grp_ids
74             9811003         False           9811003
4613           4002003         False           4002003
6762           4161022         False           4161022
7090           9811003         False           9811003
7571           4001001         False           4001001

In [95]:
aa

       new_block_grp_ids is_in_dataset old_block_grp_ids
74               9811003         False           9811003
4613             4002003         False           4002003
6762             4161022         False           4161022
7090             9811003         False           9811003
7571             4001001         False           4001001
12551            4001001         False           4001001
13649            1101031          True           9811003
19450            0003012          True           3731001
25490            9811003         False           9811003
27623            0007031          True           4002003
45563            4021022         False           4021022
45961            0005042          True           4006001
52738            4001001         False           4001001
66130            4021011         False           4021011
67336            9811003         False           9811003
67567            3515001         False           3515001
68304            9811003         False           9811003
78394            4161022         False           4161022
80268            4021022         False           4021022
84321            0007031          True           4003003
96788            4021024         False           4021024
98014            0005042          True           4006001
104982           4021011         False           4021011
111284           0406001          True           3424004
115640           1201052          True           4011001
126422           0007031          True           4002003
126432           4012003         False           4012003
137840           0005042          True           4006001
153322           3731002         False           3731002
177940           4021024         False           4021024
296380           4001002         False           4001002
307143           0406001          True           3424004
312482           3731002         False           3731002
356810           1101031          True           9811003
368773           4012002         False           4012002
426819           1301002          True           4012003
430754           0005042          True           4006001
447181           0406001          True           3514031
465628           0003014          True           3731002
479066           9811003         False           9811003
487058           0406001          True           3501031
547385           9811003         False           9811003
560283           9811003         False           9811003
658513           4021023         False           4021023
730795           0406001          True           3514041
730824           9811003         False           9811003
812057           4012002         False           4012002
877632           4012002         False           4012002

Let's look at data point 74.

In [106]:
df.ix[74:75].loc[:, "LATITUDE":].T

                                                                      74
LATITUDE                                                         42.2932
LONGITUDE                                                       -71.0965
Source                                                Employee Generated
Geocoded_Location                                    (42.2932, -71.0965)
case_enquiry_id                                                 1.01e+11
description                                                          NaN
specific_location                                                   None
title                  Highway Maintenance at Intersection of Canterb...
tract_and_block_group                                            9811003
bedroom_total_ppl                                                    NaN
bedroom_0                                                            NaN
bedroom_1                                                            NaN
bedroom_2                                                            NaN
bedroom_3                                                            NaN
bedroom_4                                                            NaN
bedroom_5+                                                           NaN
school_total                                                         NaN
school_0_none                                                        NaN
school_1_preschool                                                   NaN
school_2_kindergarden                                                NaN
school_3_1st_grade                                                   NaN
school_4_2nd_grade                                                   NaN
school_5_3rd_grade                                                   NaN
school_6_4th_grade                                                   NaN
school_7_5th_grade                                                   NaN
school_8_6th_grade                                                   NaN
school_9_7th_grade                                                   NaN
school_10_8th_grade                                                  NaN
school_11_9th_grade                                                  NaN
school_12_10th_grade                                                 NaN
...                                                                  ...
housing_own                                                          NaN
housing_rent                                                         NaN
value_total                                                          NaN
value_0_10000                                                        NaN
value_10000_14999                                                    NaN
value_15000_19999                                                    NaN
value_20000_24999                                                    NaN
value_25000_29999                                                    NaN
value_30000_34999                                                    NaN
value_35000_39999                                                    NaN
value_40000_49999                                                    NaN
value_50000_59999                                                    NaN
value_60000_69999                                                    NaN
value_70000_79999                                                    NaN
value_80000_89999                                                    NaN
value_90000_99999                                                    NaN
value_100000_124999                                                  NaN
value_125000_149999                                                  NaN
value_150000_174999                                                  NaN
value_175000_199999                                                  NaN
value_200000_249999                                                  NaN
value_250000_299999                                                  NaN
value_300000_399999                                                  NaN
value_400000_499999                                                  NaN
value_500000_749999                                                  NaN
value_750000_999999                                                  NaN
value_1000000_1499999                                                NaN
value_1500000_1999999                                                NaN
value_2000000+                                                       NaN
COMPLETION_TIME                                                0.0130556

[126 rows x 1 columns]

In [109]:
df_census.tail(20)

625    1805002
626    1805003
627    1805004
628    9801011
629    9803001
630    9807001
631    9810001
632    9811001
633    9811002
634    9811004
635    9812011
636    9812021
637    9813001
638    9813002
639    9815011
640    9815021
641    9816001
642    9817001
643    9818001
644    9901010
Name: tract_and_block_group, dtype: object

Only some of them are, unfortunately. This means that the other NA values are for a different reason, the main other reason being the inner join.

## Reason for missing X values

I had joined the Census data in an 'inner' fashion, and so if there were any missing values for a given Census block group, that block group would be omitted. This resulted in missing X values for ~250 of the 445 points.

There also seem to be mislabeled block groups, affecting ~200 of the data points. When I use the `censusgeocode` package, I get different block groups for these rows.

Since the points are so few, and the process to fix the PKL file laborious enough, I will drop these NAs for the time-being.